<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--注入任务处理类bean  -->
    <bean id="quartzTask" class="com.maple.music.task.MyQuartzTask"></bean>

    <!-- 2.任务触发器详细信息bean -->
    <bean id="myJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 设置任务执行对象 -->
        <property name="targetObject" ref="quartzTask"></property>
        <!-- 设置任务执行对象中对应的执行方法 -->
        <property name="targetMethod" value="doCronTask"></property>
        <!-- 设置任务是否可并发执行，默认为不并发 -->
        <property name="concurrent" value="false"></property>
    </bean>

    <!-- 2.任务触发器 -->
    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <!-- 设置任务详细信息 -->
        <property name="jobDetail" ref="myJobDetail"></property>
        <!-- 设置quartz任务执行表达式 ,每隔三秒执行一次任务-->
        <property name="cronExpression" value="0 0/1 * * * ? "></property>
    </bean>

    <!-- 设置触发器调度工厂 -->
    <bean id="schedulerFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <!-- 触发器调度工厂调度简单触发器 -->
                <ref bean="cronTrigger"/>
                <!--<rel bean=""> 多个触发器可以这样配置-->
            </list>
        </property>
    </bean>
</beans>