<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>LoveMusic</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,820" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/assert/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assert/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/assert/css/fontAwesome.css">
    <link rel="stylesheet" href="/assert/css/hero-slider.css">
    <link rel="stylesheet" href="/assert/css/owl-carousel.css">
    <link rel="stylesheet" href="/assert/css/templatemo-style.css">
    <link rel="stylesheet" href="/assert/css/lightbox.css">
    <link rel="stylesheet" href="/assert/css/font-awesome.4.6.0.css">
    <link rel="stylesheet" href="/assert/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assert/css/banner.css">
    <link rel="stylesheet" href="/assert/css/search/style.css" media="screen" type="text/css">
    <link rel="stylesheet" href="/assert/css/main.css">
    <link rel="stylesheet" href="/assert/css/APlayer.min.css">



</head>

<body>
<!--导航栏-->
<div class="header">
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse"
                        data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/index.html" class="navbar-brand scroll-top"><em><img alt="Brand" src="/assert/img/logo.ico">听语阁</em></a>

            </div>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#" class="scroll-top">主页</a></li>
                    <li><a href="#" class="scroll-link" data-id="about">我的音乐</a></li>
                    <li><a href="#" class="scroll-link" data-id="portfolio">歌单</a></li>
                    <li><a href="#" class="scroll-link" data-id="testimonial">专辑</a></li>
                    <li><a href="#" class="scroll-link" data-id="blog">歌手</a></li>
                    <li><a href="#" class="scroll-link" data-id="contact-us">排行榜</a></li>
                    <li><a href="#" class="scroll-link" data-id="contact-us">猜歌闯关</a></li>
                </ul>
                <section class="webdesigntuts-workshop">
                    <form action="" method="">
                        <input type="search" placeholder="What are you looking for?">
                        <button>Search</button>
                    </form>
                </section>
                <ul class="nav navbar-nav navbar-right " id="isLogin">
                </ul>


            </div>
            <!--/.navbar-collapse-->
        </nav>
        <!--/.navbar-->
    </div>
    <!--/.container-->
</div>
<!--/.header-->

<!--NoMusic，NoLife，Slogan-->
<div class="parallax-content baner-content" id="home">
    <div class="container">
        <div class="text-content">
            <!--<div class="primary-white-button">-->
            <!--<a href="#" class="scroll-link" data-id="about">Let's Start</a>-->
            <!--</div>-->
        </div>
    </div>
</div>


<!--热门歌单-->
<div class="container">
            <div class="row">
                <div class="page-header">
                    <h2 class="text-center"><b>热 门 歌 单</b> </h2>
                </div>
            </div>
            <div class="row" id="playlist-row-1">
                <div class="col-sm-6 col-md-2">
                        <a href="#">
                            <img src="/assert/img/109951164629744388.jpg" class="img-responsive"/>
                        </a>
                        <div class="caption">
                            <div class="playlist-name">
                                <a href="#">
                                    <span class="web-font">你的好运正在派件，请保持心情舒畅</span>
                                </a>
                            </div>
                            <div class="row decoration">播放量: 66500</div>
                        </div>

                 </div>
                <div class="col-sm-6 col-md-2">
                    <a href="#">
                        <img src="/assert/img/109951164629744388.jpg" class="img-responsive"/>
                    </a>
                    <div class="caption">
                        <div class="playlist-name">
                            <a href="#">
                                <span class="web-font">你的好运正在派件，请保持心情舒畅</span>
                            </a>
                        </div>
                        <div class="row decoration">播放量: 66500</div>
                    </div>

                </div>
                <div class="col-sm-6 col-md-2">
                    <a href="#">
                        <img src="/assert/img/109951164629744388.jpg" class="img-responsive"/>
                    </a>
                    <div class="caption">
                        <div class="playlist-name">
                            <a href="#">
                                <span class="web-font">你的好运正在派件，请保持心情舒畅</span>
                            </a>
                        </div>
                        <div class="row decoration">播放量: 66500</div>
                    </div>

                </div>
                <div class="col-sm-6 col-md-2">
                    <a href="#">
                        <img src="/assert/img/109951164629744388.jpg" class="img-responsive"/>
                    </a>
                    <div class="caption">
                        <div class="playlist-name">
                            <a href="#">
                                <span class="web-font">你的好运正在派件，请保持心情舒畅</span>
                            </a>
                        </div>
                        <div class="row decoration">播放量: 66500</div>
                    </div>

                </div>
                <div class="col-sm-6 col-md-2">
                    <a href="#">
                        <img src="/assert/img/109951164629744388.jpg" class="img-responsive"/>
                    </a>
                    <div class="caption">
                        <div class="playlist-name">
                            <a href="#">
                                <span class="web-font">你的好运正在派件，请保持心情舒畅</span>
                            </a>
                        </div>
                        <div class="row decoration">播放量: 66500</div>
                    </div>

                </div>
                <div class="col-sm-6 col-md-2">
                    <a href="#">
                        <img src="/assert/img/109951164629744388.jpg" class="img-responsive"/>
                    </a>
                    <div class="caption">
                        <div class="playlist-name">
                            <a href="#">
                                <span class="web-font">你的好运正在派件，请保持心情舒畅</span>
                            </a>
                        </div>
                        <div class="row decoration">播放量: 66500</div>
                    </div>

                </div>
                <div class="col-sm-6 col-md-2">
                    <a href="#">
                        <img src="/assert/img/109951164629744388.jpg" class="img-responsive"/>
                    </a>
                    <div class="caption">
                        <div class="playlist-name">
                            <a href="#">
                                <span class="web-font">你的好运正在派件，请保持心情舒畅</span>
                            </a>
                        </div>
                        <div class="row decoration">播放量: 66500</div>
                    </div>

                </div>
            </div>
        </div>

<!--排行榜-->
<section id="testimonial">
    <div class="container" id="ranking" name="ranking">
            <div class="row">
                <div class="page-header">
                    <h2 class="text-center"><b>排 行 榜</b> </h2>
                </div>
            </div>
            <div class="row">

                <ul class="toplist__list js_list">
                    <li class="toplist__item item1 mod_cover col-md-3">
                        <div class="toplist__box ranking_hot">
                            <h3 class="toplist__hd"><a href="toPlaylistPage(id)" target="_blank">热歌榜</a> </h3>
                            <ul class="toplist__songlist">
                                <div>
                                    <li class="toplist__song">
                                        <div class="toplist__number">1</div>
                                        <div class="toplist__songname">
                                            <a href="toSongPage(song.id)" target="_blank" onclick="" class="js_song" data-id="244200862" data-stat="y_new.index.toplist.songname">
                                                大鱼
                                                <span v-if="song.alia.length>0"> test</span>
                                            </a>
                                        </div>
                                        <div class="toplist__artist">
                                            <a href="toSingerPage(song.ar[0].id)" target="_blank" onclick="" data-stat="y_new.index.toplist.singername">枫叶</a>
                                        </div>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </li>
                    <li class="toplist__item item1 mod_cover col-md-3">
                        <div class="toplist__box ranking_new">
                            <h3 class="toplist__hd"><a href="toPlaylistPage(new_id)" target="_blank">新歌榜</a> </h3>
                            <ul class="toplist__songlist">
                                <div>
                                    <li class="toplist__song">
                                        <div class="toplist__number">1</div>
                                        <div class="toplist__songname">
                                            <a href="toSongPage(song.id)" target="_blank" onclick="" class="js_song" data-id="244200862" data-stat="y_new.index.toplist.songname">
                                                海棠
                                                <span> test</span>
                                            </a>
                                        </div>
                                        <div class="toplist__artist">
                                            <a href="toSingerPage(song.ar[0].id)" target="_blank" onclick="" data-stat="y_new.index.toplist.singername">清枫</a>
                                        </div>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </li>
                    <li class="toplist__item item1 mod_cover col-md-3">
                        <div class="toplist__box ranking_singer">
                            <h3 class="toplist__hd"><a href="singer_ranking.html" target="_blank">歌手榜</a> </h3>
                            <ul class="toplist__songlist">
                                <div >
                                    <li class="toplist__song" v-if="index < 8">
                                        <div class="toplist__number">1</div>
                                        <div class="toplist__songname">
                                            <a href="toSingerPage(singer.id)" target="_blank" onclick="" class="js_song" data-id="244200862" data-stat="y_new.index.toplist.songname">
                                                枫枫
                                            </a>
                                        </div>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </li>
                    <li class="toplist__item item1 mod_cover col-md-3">
                        <div class="toplist__box ranking_oumei">
                            <h3 class="toplist__hd"><a href="toPlaylistPage(oumei_id)" target="_blank">欧美榜</a> </h3>
                            <ul class="toplist__songlist">
                                <div >
                                    <li class="toplist__song" v-if="index < 5">
                                        <div class="toplist__number">1</div>
                                        <div class="toplist__songname">
                                            <a href="toSongPage(song.id)" target="_blank" onclick="" class="js_song" data-id="244200862" data-stat="y_new.index.toplist.songname">
                                                叶叶
                                                <span>test</span>
                                            </a>
                                        </div>
                                        <div class="toplist__artist">
                                            <a href="toSingerPage(song.ar[0].id)" target="_blank" onclick="" data-stat="y_new.index.toplist.singername">风清扬</a>
                                        </div>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
</section>

<!--歌手-->
<div class="tabs-content" id="blog">
    <div class="container">
        <div class="row">
            <div class="wrapper">
                <div class="col-md-4">
                    <div class="section-heading">
                        <h4>歌手</h4>
                        <div class="line-dec"></div>
                        <p>TT音乐制作指的是作曲、作词、编曲、录制、混音、母带、后期制作等一系列创作工作，以前称为音乐编辑，主要从事音乐的创作和制作方面的工作。</p>
                        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                            <li><a href="#tab1" class="active">每日热搜</a></li>
                            <li><a href="#tab2">青年才华</a></li>
                            <li><a href="#tab3">榜样模仿</a></li>
                            <li><a href="#tab4">熟练大师</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <section id="first-tab-group" class="tabgroup">
                        <div id="tab1">
                            <img src="/assert/img/blog_item_1.jpg" style="height: 420px;width: 820px" alt="">
                            <div class="text-content">
                                <span><a href="#">赵雷</a> / <a href="#">China</a> / <a href="#">1986.7.20</a></span>
                                <p>2011年，赵雷发行个人第一张唱片《赵小雷》，专辑收录的主打歌曲《南方姑娘》被众多歌手及乐迷翻唱，赵雷也因此被更多人认识受到关注[1-2]
                                    。2014年发行第二张个人专辑《吉姆餐厅》[3-4] 。2016年12月21日，赵雷发行专辑《无法长大》[5]
                                    ；2月，赵雷参加湖南卫视综艺节目《歌手》第三期，作为补位歌手演唱歌曲《成都》突围成功</p>
                            </div>
                        </div>
                        <div id="tab2">
                            <img src="/assert/img/blog_item_2.jpg" style="height: 420px;width: 820px" alt="">
                            <div class="text-content">
                                <span><a href="#">Declan Galbraith</a> / <a href="#">Britain</a> / <a href="#">1991.12.19</a></span>
                                <p>一位堪称歌唱奇才的少年迪克兰·加尔布雷斯，被英国媒体推崇为“终生难得一见的歌唱奇才”的迪克兰，他最出名的是他2002年的单曲《tell me
                                    why》，达到在英国排行榜#29 ，当时才10岁，并以他的首张专辑《Declan》轰动欧洲。</p>
                            </div>
                        </div>
                        <div id="tab3">
                            <img src="/assert/img/blog_item_3.jpg" style="height: 420px;width: 820px" alt="">
                            <div class="text-content">
                                <span><a href="#">Taylor Swift</a> / <a href="#">America</a> / <a
                                        href="#">1989.12.13</a></span>
                                <p>9岁时，泰勒随家人搬到宾夕法尼亚州的怀奥米辛；10岁时，泰勒开始写歌，并在卡拉OK大赛、节日以及家乡周围一带演唱，她撰写了一篇350页的小说，但未出版；[29]
                                    受《周六夜现场》的启发，泰勒加入了儿童短喜剧团队TheatreKids
                                    Live，成为其中的一员，在团队中，她显示了与生俱来的喜剧天赋；在观看了她的卡拉OK表演后，柯克·克里默的母亲建议泰勒致力于乡村音乐而不是戏剧表演，[30]
                                    泰勒还以一篇3页长的诗歌《我壁橱里的怪物》赢得了全国诗歌大赛，但她更专注于歌曲的创作。</p>
                            </div>
                        </div>
                        <div id="tab4">
                            <img src="/assert/img/blog_item_4.jpg" style="height: 420px;width: 820px" alt="">
                            <div class="text-content">
                                <h4></h4>
                                <span><a href="#">杨千嬅</a> / <a href="#">HongKong</a> / <a href="#">1974.2.3</a></span>
                                <p>1995年参加无线电视第14届《新秀歌唱大赛》获得季军进入歌坛。2000年以《少女的祈祷》一曲获得香港乐坛四台颁奖典礼多个金曲奖项。2002年发行专辑《Miriam's
                                    Music
                                    Box》，其中歌曲《可惜我是水瓶座》成为其代表作之一。2002年、2008年与2009年三度夺得十大劲歌金曲最受欢迎女歌星。2005年凭借电影《千杯不醉》获第42届台湾电影金马奖最佳女主角提名。</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>



<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="location">
                    <h4>加入vip</h4>
                    <ul>
                        <li>在线申请 <br>微信：maple_leafsss</li>
                        <li>离线申请 <br>电话：6838118</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="location">
                    <h4>公司地址</h4>
                    <ul>
                        <li>山东省 <br>临沂市</li>
                        <li>临沂大学 <br>计算机科学与技术4班</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="contact-info">
                    <h4>更多详情</h4>
                    <ul>
                        <li><em>电话</em>: 010-020-0340</li>
                        <li><em>邮箱</em>: liangsircc@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="connect-us">
                    <h4>与我们获得联系</h4>
                    <ul>
                        <li><a href="#" target="_parent"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#o" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- 音乐播放器 -->
<div class="aplayer" data-id="2440040711" data-server="netease" data-type="playlist" data-fixed="true"
     data-autoplay="false" data-volume="0.6"></div>
<script>var meting_api = 'http://api.mizore.cn/meting/api.php?server=:server&type=:type&id=:id'</script>
<!-- 音乐播放器 -->

<script src="/assert/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<script src="/assert/js/vendor/jquery-1.11.2.min.js"></script>
<script>window.jQuery || document.write('<script src="/assert/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
<script src="/assert/js/vendor/bootstrap.min.js"></script>
<script src="/assert/js/plugins.js"></script>
<script src="/assert/js/main.js"></script>
<script type="text/javascript" src="/assert/js/banner.js"></script>
<script type="text/javascript" src="/assert/js/vendor/jquery-1.11.2.min.js"></script>
<script src="/assert/js/searchbar/jquery.min(1).js"></script>
<script src="/assert/js/searchbar/jquery.min(2).js"></script>
<script src="/assert/js/APlayer.min.js"></script>
<script src="/assert/js/Meting.min.js"></script>

<script type="text/javascript">
    $(function () {
        $.post("/getParam_user",{},function (data) {
            if(data.resultStatus===true){
                $("#isLogin").html('<li><a href="/myMusic.html" style="text-transform: none;display: inline-block">'+data.user.nickname+'</a>&nbsp;&nbsp;<a href="/user_logout" style="display:inline-block">注销</a></li>');
            }else{
                $("#isLogin").html('<li><a href="/login.html"><span class="glyphicon glyphicon-log-in"></span>&nbsp;登录</a></li>');
            }
        });
    })


</script>
</body>
</html>